ul{
    height: 80vh;
    li:hover:nth-child(n){
        font-weight: bold;
    }
    li:hover:nth-child(1){
        font-weight: initial;
    }
    li {
        padding: 14px;
        color: blue;
        background-color: white;
        border-color: white;
    }
   
}

.pointer{
    cursor: pointer;
}